<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{% load converse_tags %}
<head>
    <title>{% block title %}Converse{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/960_24_col.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/converse.css" />
    {% block head %}{% endblock %}
</head>
<body>
<div class="container_24">
    <h1 id="header" class="grid_24">{% block header %}Converse{% endblock %}</h1>
    <div id="accountbox">
        {% if user.is_authenticated %}
            <a href="{% url django.contrib.auth.views.logout %}">Logout</a> ({% profile user %})
        {% else %}
            <a href="{% url django.contrib.auth.views.login %}">Login</a>
            /
            <a href="{% url registration.views.register %}">Register</a>
        {% endif %}
    </div>
    <ul class="breadcrumbs grid_24">
    <li><a href="{% url converse.views.index %}">Index</a></li>
    {% block breadcrumbs %}{% endblock %}
    </ul>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</div>
<script type="text/javascript">
// Monkeypatch in String.trim for older browsers
''.trim||(String.prototype.trim=function(){return this.replace(/^[\s\uFEFF]+|[\s\uFEFF]+$/g,'')});
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("jquery", "1");
    Converse = {
        'base_url': "{% url converse.views.index %}"
    };
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ba-hashchange.min.js" /></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js" /></script>
{% block scripts %}{% endblock %}
</body>
</html>
