{% load converse_tags %}
{% for comment in comments %}
<li class="grid_24 alpha omega comment{% if comment.is_system %} system{% endif %}{% if not comment.is_active %} deleted{% endif %}{% if comment.is_held %} held{% endif %}" id="comment-{{ comment.id }}" style="display: none;">
    <div class="comment-avatar grid_2 alpha">{% gravatar comment.creator %}</div>
    <div class="comment-details grid_3">
        {% if comment.is_system %}
            System, for
        {% endif %}
        {% profile comment.creator %}<br/>
        <a title="{{ comment.created }}" class="created">{{ comment.created|reltime }}</a><br/>
        <a href="{{ comment.permalink }}" class="permalink">[permalink]</a>
        {% if comment.creator == user or perms.converse.can_moderate and not comment.is_system %}
        <a href="#" class="edit-link">[edit]</a>
        {% endif %}
        {% if perms.converse.can_moderate %}
            <div id="comment-moderation-tools-{{ comment.id }}" class="comment-moderation-tools">
                [
                <a href="{% url converse.views.moderate_comment comment.id "accept" %}" class="moderation-button accept">accept</a> 
                <a href="{% url converse.views.moderate_comment comment.id "reject" %}" class="moderation-button reject">reject</a>
                <a href="{% url converse.views.moderate_comment comment.id "accept" %}" class="moderation-button undelete">undelete</a> 
                <a href="{% url converse.views.moderate_comment comment.id "reject" %}" class="moderation-button delete">delete</a> 
                ]
            </div>
        {% endif %}
    </div>
    {% if comment.is_system %}
    <div class="comment-content grid_19 omega">{{ comment.content|safe }}</div>
    {% else %}
    <div class="comment-content grid_19 omega">
        <div class="rendered-content">
        {{ comment.content|linebreaks }}
        {% if comment.editor %}
            <p class="edit-note" title="{{ comment.modified }}">
                Last edited by {% profile comment.editor %}, {{ comment.modified|reltime }}.
            </p>
        {% endif %}
        </div>
        <form class="comment-editor" action="{% url converse.views.edit_comment comment.id %}" method="POST">
        <textarea>{{ comment.content }}</textarea>
        <input type="submit" value="Save Edits" class="grid_3 alpha" />
        <input type="button" class="cancel-button grid_3" value="Cancel" />
        <span class="comment-errors grid_13 omega">&nbsp;</span>
        </form>
    </div>
    {% endif %}
</li>
{% endfor %}
