{% extends "converse/base.html" %}
{% load converse_tags %}

{% block breadcrumbs %}
/ <li>New Topic</li>
{% endblock %}

{% block content %}
<h2 class="grid_24">New Topic</h2>

<form action="{% url converse.views.add_topic %}" method="POST" class="new-topic-form">
<ul class="prefix_2 grid_20 suffix_2">
{% csrf_token %}
<li>{{ form.title.label_tag }} {{ form.title.errors }}</li>
<li class="title-field">{{ form.title }}</li>
<li>{{ form.summary.label_tag }} {{ form.summary.errors }}</li>
<li class="summary-field">{{ form.summary }}</li>
<li><input type="submit" value="Add Topic" /></li>
</ul>
</div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autoresize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/topic.js"></script>
{% endblock %}
