{% extends "converse/base.html" %}
{% load converse_tags %}

{% block breadcrumbs %}
/ <li><a class="slug" href="{{ topic.permalink }}">{{ topic.title|truncatewords:10 }}</a></li>
{% endblock %}

{% block content %}
<div id="lock-status" class="{% if topic.is_locked %}topic-locked{% else %}topic-unlocked{% endif %} {% if topic.needs_moderation %}topic-moderated{% else %}topic-unmoderated{% endif %}">
<form class="topic-editor" action="{% url converse.views.edit_topic topic.id %}" method="POST">
<h2 class="topic-title grid_24"><span id="title-content">{{ topic.title }}</span>
<input class="topic-editor-item" type="text" id="title-editor" name="title" value="{{ topic.title }}" maxlength="100" />
<a href="#" class="edit-link">[edit]</a>
</h2>

{% if perms.converse.can_moderate %}
    <strong class="grid_4">Creator: {% profile topic.creator %}</strong>
    <strong class="grid_6">Created: {{ topic.created }}</strong>
    <strong class="grid_6">Modified: {{ topic.modified }}</strong>
    <span class="grid_3"><a href="{% url converse.views.moderate_topic topic.id "hold" %}" class="topic-moderate-link">Require moderation</a><a href="{% url converse.views.moderate_topic topic.id "release" %}" class="topic-unmoderate-link">Release moderation</a></span>
    <span class="grid_3"><a href="{% url converse.views.moderate_topic topic.id "lock" %}" class="topic-lock-link">Lock</a><a href="{% url converse.views.moderate_topic topic.id "unlock" %}" class="topic-unlock-link">Unlock</a></span>
{% else %}
    <strong class="grid_8">Creator: {% profile topic.creator %}</strong>
    <strong class="grid_8">Created: {{ topic.created }}</strong>
    <strong class="grid_8">Modified: {{ topic.modified }}</strong>
{% endif %}
<hr class="grid_24" />

<div class="topic-summary prefix_1 grid_22 suffix_1">
<span class="contents">{{ topic.summary|linebreaks }}</span>
{% if topic.creator == user or perms.converse.can_moderate %}
{% endif %}
</div>
<textarea class="topic-editor-item grid_24" id="topic-summary-editor" name="summary">{{ topic.summary }}</textarea>
<input class="topic-editor-item grid_3" type="submit" value="Save Edits" />
<input class="topic-editor-item grid_3 cancel-button" type="button" value="Cancel" />
<span class="topic-editor-item topic-errors grid_18">&nbsp;</span>
</form>

<ul class="subtopics grid_24">
{% for row in topic.subtopic_rows %}
    <li id="subtopic-{{ row.id }}" class="subtopic{% if row.id in subtopics_new %} new{% endif %}" style="padding-left: {{ row.depth }}px">
        <form action="{% url converse.views.edit_subtopic row.id %}" method="POST" class="subtopic-edit-form">
        <span class="static-summary">{{ row.summary }}</span>
        {% if user.is_authenticated %}
        <a href="#" class="edit-link" title="Edit this subtopic's summary">[edit]</a>
        {% endif %}
        <span class="editable-summary">
                <input name="summary" class="summary-editor" value="{{ row.summary }}" maxlen="200" />
                <input type="submit" value="Save" />
                <input class="cancel-button" type="button" value="Cancel" />
        </span>
        <a href="#" class="add-child-link" title="Add a subtopic nested under this one">[add child]</a>
        <a href="{{ row.permalink }}" class="permalink" title="Right-click and copy link address for permalink">[link]</a>
        </form>
    </li>
    <li id="new-subtopic-{{ row.id }}" class="new-subtopic" style="padding-left: {{ row.depth|add:"20" }}px">
        <form action="{% url converse.views.add_subtopic topic.id row.id %}" method="POST">
        {% csrf_token %}
            <input class="new-subtopic-summary" name="summary" maxlen="200" />
            <input type="submit" value="Add" />
            <input class="cancel-button" type="button" value="Cancel" />
        </form>
    </li>
    <li id="subtopic-convo-{{ row.id }}" class="subtopic-convo grid_24 alpha omega">
        <ul class="convo-items"></ul>
        <div class="bouncer"><img src="{{ STATIC_URL }}img/bounce.gif" border="0" /></div>
        <form action="{% url converse.views.add_comment row.id %}" method="POST" class="comment-form">
        {% csrf_token %}
        <div class="prefix_5 grid_19 alpha omega">
            <label for="comment-content-{{ row.id }}">Reply</label>
            <textarea id="comment-content-{{ row.id }}" name="content"></textarea>
            <input type="submit" value="Post Reply" class="grid_3 alpha" />
            <span class="comment-errors grid_16 omega">&nbsp;</span>
        </div>
        </form>
    </li>
{% endfor %}
</ul>

<div class="new-subtopic-form">
    <form action="{% url converse.views.add_subtopic topic.id %}" method="POST">
    {% csrf_token %}
    <p class="prefix_1 grid_22 suffix_1">
        <label for="new-toplevel-subtopic">Add new subtopic:</label>
        <input id="new-toplevel-subtopic" name="summary" maxlen="200" class="new-subtopic" />
        <input type="submit" value="Add" />
    </p>
    </form>
</div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autoresize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/topic.js"></script>
{% endblock %}
