{% extends "converse/base.html" %}
{% load converse_tags %}

{% block breadcrumbs %}
/ <li> Users </li> 
/ <li> {% profile user %} </li>
{% endblock %}

{% block content %}
<h2 class="grid_24">User Profile: {{ user.username }}</h2>

<h3 class="grid_24">Topics created</h3>
<table class="grid_24 topiclist">
<thead>
    <tr>
        <th class="grid_15 alpha">Title</th>
        <th class="grid_9 omega">Last Update</th>
    </tr>
</thead>
<tbody>
{% for topic in topic_list %}
    <tr>
        <td class="grid_15 alpha">
            <a href="{{ topic.permalink }}">
                {{ topic.title }}
            </a>
        </td>
        <td class="grid_9 omega"><a title="{{ topic.last_update }}">{{ topic.last_update|reltime }}</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

<h3 class="grid_24">Comments posted</h3>
<table class="grid_24 commentlist">
<thead>
    <tr>
        <th class="grid_13 alpha">Topic</th>
        <th class="grid_6">Subtopic</th>
        <th class="grid_5 omega">Last Update</th>
    </tr>
</thead>
<tbody>
{% for comment in comment_list %}
    <tr class="{% cycle 'commentlist-even' 'commentlist-odd' %}">
        <td class="grid_13 alpha">
            <a href="{{ comment.subtopic.topic.permalink }}">
                {{ comment.subtopic.topic.title }}
            </a>
        </td>
        <td class="grid_6">
            <a href="{{ comment.subtopic.permalink }}" title="{{ comment.subtopic.summary }}">
                {{ comment.subtopic.summary|truncatewords:3 }}
            </a>
        </td>
        <td class="grid_5 omega"><a title="{{ comment.created }}">{{ comment.created|reltime }}</a></td>
    </tr>
    <tr class="{% cycle 'commentlist-even' 'commentlist-odd' %}">
        <td class="grid_24">{{ comment.content }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

