body {
    background: #fff;
    color: #000;
}

.container_24 {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: relative;
}

h1 {
    text-align: center;
}

#accountbox {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 0;
}

#accountbox a {
    margin: 5px 2px;
    display: inline-block;
}

.breadcrumbs {
    list-style-type: none;
    margin-bottom: 3px;
}

.breadcrumbs li {
    display: inline-block;
    margin-left: 0;
}

.breadcrumbs a {
    font-size: 90%;
    text-decoration: none;
}

input[type=submit],
input[type=button] {
    border: 1px solid #888;
    background: #ddd;
    color: #000;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=button]:hover,
input[type=button]:active {
    border: 1px solid #88f;
    background: #ddf;
}


/* topic_index.html */

.index-actions {
    list-style-type: none;
}

.index-actions > li {
    display: inline-block;
    margin-left: 0;
}

.pagination {
    text-align: center;
}

.pagination a {
    text-decoration: none;
}

.topiclist thead {
    border-bottom: 1px solid #888;
}

.topiclist td {
    vertical-align: middle;
}

.topiclist tbody td {
    margin-top: 5px;
    margin-bottom: 5px;
}

.topiclist tbody tr:nth-child(odd) {
    background: #f8f8ff;
}

.topiclist tbody tr:nth-child(even) {
    background: #eef;
}

.topiclist a {
    display: inline-block;
    margin-left: 5px;
}

.topiclist a.new {
    font-weight: bold;
}

/* topic.html */

.subtopics,
.convo-items {
    list-style-type: none;
}

.subtopics > li {
    background: #dde;
    border-bottom: 1px solid #888;
    margin-left: 0;
}

.subtopics > li.open {
    background: #ccf;
}

.subtopics > li.new .static-summary {
    font-weight: bold;
}

.subtopics > li:first-child {
    border-top: 1px solid #888;
}

.subtopics > li.subtopic {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    cursor: pointer;
    line-height: 24px;
}

.topic-title .edit-link,
.subtopic .edit-link,
.subtopic .add-child-link,
.subtopic .permalink {
    text-decoration: none;
    color: #666;
    font-size: 80%;
}

.topic-locked .topic-title {
    background-image: url("../img/stripes.png");
}

.topic-locked .new-subtopic-form,
.topic-locked .add-child-link,
.topic-locked .comment-form,
.topic-locked .topic-lock-link,
.topic-locked .edit-link {
    display: none;
}

.topic-moderated .topic-moderate-link {
    display: none;
}

.topic-unmoderate-link {
    display: none;
}

.topic-moderated .topic-unmoderate-link {
    display: inline;
}

.subtopics .new-subtopic {
    display: none;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

.subtopics .subtopic-convo {
    background: #f8f8f8;
    display: none;
}

.subtopic-convo .bouncer {
    text-align: center;
    margin-bottom: 20px;
}

.convo-items > li {
    background: #f8f8ff;
    border-bottom: 1px solid #bbb;
}

.convo-items > li:nth-child(even) {
    background: #eef;
}

.convo-items > li.highlighted {
    background: #ffd;
}

.convo-items > li.system {
    background-image: url("../img/stripes.png");
}

.convo-items > li.deleted {
    color: #999;
}

.convo-items > li.deleted a {
    color: #999;
}

.convo-items > li.held {
    font-style: italic;
}

.convo-items > li.deleted .moderation-button.delete,
.convo-items > li.held .moderation-button.delete,
.convo-items > li .moderation-button {
    display: none;
}

.convo-items > li .moderation-button.delete,
.convo-items > li.deleted .moderation-button.undelete,
.convo-items > li.held .moderation-button.accept, 
.convo-items > li.held .moderation-button.reject {
    display: inline;
}

.comment-avatar {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.comment-details {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-details .created {
    font-size: 85%;
}

.comment-details .comment-moderation-tools,
.comment-details .moderation-button,
.comment-details .permalink,
.comment-details .edit-link {
    text-decoration: none;
    color: #666;
    font-size: 80%;
}

.comment-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-content p { margin: 5px; }
.comment-content p:first-child { margin-top: 0; }
.comment-content p:last-child { margin-bottom: 0; }

.comment-content p.edit-note {
    font-size: 80%;
    color: #666;
    border-top: 1px solid #ccc;
}

#title-editor {
    font-size: 23px;
    font-weight: bold;
}

.topic-editor-item {
    display: none;
}

.topic-editor .cancel-button {
    margin-bottom: 20px;
}

.topic-editor textarea {
    padding: 0;
    border: 1px solid #444;
    width: 748px;
    height: 48px;
    margin-bottom: 2px;
}

.comment-editor {
    display: none;
}

.comment-editor textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #444;
    width: 748px;
    height: 48px;
    margin-bottom: 2px;
}

.comment-form label,
.comment-form textarea {
    display: block;
    width: 748px;
    padding: 0;
}

.comment-form label {
    font-size: 80%;
    text-align: center;
    background: #444;
    color: #fff;
    margin-bottom: 0;
    border: 1px solid #444;
}

.comment-form textarea {
    margin-top: 0;
    border-top: 0;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}

.comment-form > div {
    margin-top: 5px;
    margin-bottom: 20px;
}

.comment-errors {
    color: #d00;
}

.editable-summary {
    display: none;
}

.topic-unlock-link {
    display: none;
}

.topic-locked .topic-unlock-link {
    display: inline;
}

/* registration_form.html */
.registration-form ul {
    list-style-type: none;
    margin-bottom: 5px;
}

.registration-form > ul > li {
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.registration-form .note {
    text-align: left;
}

.registration-form > ul > li > input {
    width: 306px;
    margin-left: 10px;
    text-align: left;
}

.registration-form input[type=submit] {
    width: 100%;
    text-align: center;
}

.errorlist {
    margin-bottom: 0;
    color: #a00;
}

/* topic_new.html */

.new-topic-form > ul {
    list-style-type: none;
}

.new-topic-form > ul > li {
    margin-left: 0;
}

.new-topic-form .title-field {
    margin-bottom: 10px;
}

.new-topic-form .title-field label {
    margin-right: 5px;
}

.new-topic-form .title-field input,
.new-topic-form .summary-field textarea {
    width: 99%;
}

.commentlist-even {
    background: #f8f8ff;
}

.commentlist-odd {
    background: #eef;
}

