{% extends "converse/base.html" %}

{% block breadcrumbs %}
/ <a href="{% url django.contrib.auth.views.login %}">Login</a>
{% endblock %}

{% block content %}
<h2 class="grid_24">User Login</h2>

<form action="{% url django.contrib.auth.views.login %}" method="POST" class="registration-form">
{% csrf_token %}
<ul class="prefix_6 grid_12 suffix_6">
{% if form.errors %}
<li class="note">
    Incorrect username and/or password. Please try again.
</li>
{% endif %}
<li>
    {{ form.username.label_tag }}
    {{ form.username }}
</li>
<li>
    {{ form.password.label_tag }}
    {{ form.password }}
</li>
</ul>
<div class="prefix_10 grid_4 suffix_10">
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endblock %}
